In [1]:
import pandas as pd

In [2]:
label = {"Labels" : ["Ball","Camera","Cat","Dog","Guitar","Knife"]}

In [3]:
df_label = pd.DataFrame(data = label)

In [4]:
df_label

   Labels
0    Ball
1  Camera
2     Cat
3     Dog
4  Guitar
5   Knife

In [5]:
result = 2

In [16]:
test = df_label.iloc[result,:].unique()[0]

In [20]:
test.split()

['Cat']

str