![Kayak](https://seekvectorlogo.com/wp-content/uploads/2018/01/kayak-vector-logo.png)

# Projet KAYAK

L’équipe marketing a besoin d’aide sur un nouveau projet. Après avoir fait quelques recherches sur les utilisateurs, l’équipe a découvert que **70% de leurs utilisateurs qui planifient un voyage aimeraient avoir plus d’informations sur la destination vers laquelle ils se dirigent.**  
  
Par conséquent, l’équipe marketing de Kayak aimerait créer une application qui recommandera où les gens devraient planifier leurs prochaines vacances. L’application doit être basée sur des données réelles concernant :

       *Temps
       *Hôtels dans la région

**Objectifs**  
    * Récupération les données des destinations  
    * Obtenir des données métérologiques de chaque destination  
    * Obtenir des informations sur les hôtels sur chaque destination  
    * Stocker toutes les informations ci-dessus dans un lac de données

### Récupération des données  
  
Dans ce notebook je vais récupérer les données à partir d'API, permettant d'obtenir des informations sur la géolocalisation des villles.  
A partir de la géolocation, je vais pouvoir utiliser l'API permettant de connaître la météo.

#### Importation des librairies

In [1]:
import requests
import re
import pandas as pd
import plotly.express as px

# Utilisation API pour récupérer les coordonnées GPS

**33 villes**  
Nous allons réaliser ce projet sur 33 villes de France

In [2]:
villes = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

Pour utliser l'API qui permet de retrouver la géolocalisation : https://openweathermap.org/appid

In [3]:
r = requests.get('https://nominatim.openstreetmap.org/search?format=json&city=<la rochelle>') # utilisation de requests, test sur La Rochelle

In [4]:
r.text # l'ensemble des informations obtenues par l'API

'[{"place_id":256884609,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":117858,"boundingbox":["46.1331664","46.1908971","-1.2419231","-1.111097"],"lat":"46.1591126","lon":"-1.1520434","display_name":"La Rochelle, Charente-Maritime, Nouvelle-Aquitaine, France métropolitaine, 17000, France","class":"boundary","type":"administrative","importance":0.8014837096874572,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"},{"place_id":257082119,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":1215878,"boundingbox":["47.7388479","47.7647325","5.7060641","5.7454734"],"lat":"47.7470598","lon":"5.7321403","display_name":"La Rochelle, Vesoul, Haute-Saône, Bourgogne-Franche-Comté, France métropolitaine, 70120, France","class":"boundary","type":"administrative","importance":0.7332911295153213,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"},{"place_id":256888329,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":127092,"boundingbox":["41.888881","41.9603198","-89.123237","-88.985636"],"lat":"41.9239178","lon":"-89.0687074","display_name":"Rochelle, Ogle County, Illinois, 61068, United States","class":"boundary","type":"administrative","importance":0.5755839937785888,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"},{"place_id":257070257,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":1661547,"boundingbox":["46.0036902","46.3715027","-1.5626797","-0.6805266"],"lat":"46.187679599999996","lon":"-1.064280735046797","display_name":"La Rochelle, Charente-Maritime, Nouvelle-Aquitaine, France métropolitaine, France","class":"boundary","type":"administrative","importance":0.5230614454416833,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"},{"place_id":256885816,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":119917,"boundingbox":["31.937521","31.959392","-83.4777851","-83.440703"],"lat":"31.9510105","lon":"-83.4562744","display_name":"Rochelle, Wilcox County, Georgia, United States","class":"boundary","type":"administrative","importance":0.48742114501544553,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png"},{"place_id":685996,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":262708424,"boundingbox":["-26.2577778","-26.2177778","28.0369444","28.0769444"],"lat":"-26.2377778","lon":"28.0569444","display_name":"La Rochelle, Johannesburg Ward 57, Johannesburg, City of Johannesburg Metropolitan Municipality, Gauteng, 2001, South Africa","class":"place","type":"suburb","importance":0.47500000000000003,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png"},{"place_id":712787,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":262720927,"boundingbox":["-33.9008333","-33.8608333","18.6363889","18.6763889"],"lat":"-33.8808333","lon":"18.6563889","display_name":"La Rochelle, Cape Town Ward 3, Bellville, City of Cape Town, Western Cape, 7560, South Africa","class":"place","type":"suburb","importance":0.47500000000000003,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png"},{"place_id":81724565,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":7756578278,"boundingbox":["42.9397922","42.9797922","1.5615972","1.6015972"],"lat":"42.9597922","lon":"1.5815972","display_name":"La Rochelle, Foix, Ariège, Occitanie, France métropolitaine, 09000, France","class":"place","type":"hamlet","importance":0.45,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png"},{"place_id":71906557,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":6517919775,"boundingbox":["46.2462932","46.2862932","4.2703536","4.3103536"],"lat":"46.2662932","lon":"4.2903536","display_name":"La Rochelle, La Chapelle-sous-Dun, Charolles, Saône-et-Loire, Bourgogne-Franche-Comté, France métropolitaine, 71800, France","class":"place","type":"hamlet","importance":0.45,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png"},{"place_id":59586414,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":5205144194,"boundingbox":["48.5844837","48.6244837","-0.5657169","-0.5257169"],"lat":"48.6044837","lon":"-0.5457169","display_name":"La Rochelle, Champsecret, Argentan, Orne, Normandie, France métropolitaine, 61700, France","class":"place","type":"hamlet","importance":0.45,"icon":"https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png"}]'

In [5]:
r.json() #.json permet de structurer les informations

[{'place_id': 256884609,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 117858,
  'boundingbox': ['46.1331664', '46.1908971', '-1.2419231', '-1.111097'],
  'lat': '46.1591126',
  'lon': '-1.1520434',
  'display_name': 'La Rochelle, Charente-Maritime, Nouvelle-Aquitaine, France métropolitaine, 17000, France',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.8014837096874572,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 257082119,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 1215878,
  'boundingbox': ['47.7388479', '47.7647325', '5.7060641', '5.7454734'],
  'lat': '47.7470598',
  'lon': '5.7321403',
  'display_name': 'La Rochelle, Vesoul, Haute-Saône, Bourgogne-Franche-Comté, France métropolitaine, 70120, France',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.7332911295153213,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 256888329,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 127092,
  'boundingbox': ['41.888881', '41.9603198', '-89.123237', '-88.985636'],
  'lat': '41.9239178',
  'lon': '-89.0687074',
  'display_name': 'Rochelle, Ogle County, Illinois, 61068, United States',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.5755839937785888,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 257070257,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 1661547,
  'boundingbox': ['46.0036902', '46.3715027', '-1.5626797', '-0.6805266'],
  'lat': '46.187679599999996',
  'lon': '-1.064280735046797',
  'display_name': 'La Rochelle, Charente-Maritime, Nouvelle-Aquitaine, France métropolitaine, France',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.5230614454416833,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 256885816,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'relation',
  'osm_id': 119917,
  'boundingbox': ['31.937521', '31.959392', '-83.4777851', '-83.440703'],
  'lat': '31.9510105',
  'lon': '-83.4562744',
  'display_name': 'Rochelle, Wilcox County, Georgia, United States',
  'class': 'boundary',
  'type': 'administrative',
  'importance': 0.48742114501544553,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png'},
 {'place_id': 685996,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 262708424,
  'boundingbox': ['-26.2577778', '-26.2177778', '28.0369444', '28.0769444'],
  'lat': '-26.2377778',
  'lon': '28.0569444',
  'display_name': 'La Rochelle, Johannesburg Ward 57, Johannesburg, City of Johannesburg Metropolitan Municipality, Gauteng, 2001, South Africa',
  'class': 'place',
  'type': 'suburb',
  'importance': 0.47500000000000003,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png'},
 {'place_id': 712787,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 262720927,
  'boundingbox': ['-33.9008333', '-33.8608333', '18.6363889', '18.6763889'],
  'lat': '-33.8808333',
  'lon': '18.6563889',
  'display_name': 'La Rochelle, Cape Town Ward 3, Bellville, City of Cape Town, Western Cape, 7560, South Africa',
  'class': 'place',
  'type': 'suburb',
  'importance': 0.47500000000000003,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png'},
 {'place_id': 81724565,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 7756578278,
  'boundingbox': ['42.9397922', '42.9797922', '1.5615972', '1.6015972'],
  'lat': '42.9597922',
  'lon': '1.5815972',
  'display_name': 'La Rochelle, Foix, Ariège, Occitanie, France métropolitaine, 09000, France',
  'class': 'place',
  'type': 'hamlet',
  'importance': 0.45,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png'},
 {'place_id': 71906557,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 6517919775,
  'boundingbox': ['46.2462932', '46.2862932', '4.2703536', '4.3103536'],
  'lat': '46.2662932',
  'lon': '4.2903536',
  'display_name': 'La Rochelle, La Chapelle-sous-Dun, Charolles, Saône-et-Loire, Bourgogne-Franche-Comté, France métropolitaine, 71800, France',
  'class': 'place',
  'type': 'hamlet',
  'importance': 0.45,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png'},
 {'place_id': 59586414,
  'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
  'osm_type': 'node',
  'osm_id': 5205144194,
  'boundingbox': ['48.5844837', '48.6244837', '-0.5657169', '-0.5257169'],
  'lat': '48.6044837',
  'lon': '-0.5457169',
  'display_name': 'La Rochelle, Champsecret, Argentan, Orne, Normandie, France métropolitaine, 61700, France',
  'class': 'place',
  'type': 'hamlet',
  'importance': 0.45,
  'icon': 'https://nominatim.openstreetmap.org/ui/mapicons//poi_place_village.p.20.png'}]

**Remarque**  
Nous obtenons des données compris dans une liste, composée de dictionnaire et de liste.

In [6]:
r.json()[0].keys() # Test pour retrouver l'information

dict_keys(['place_id', 'licence', 'osm_type', 'osm_id', 'boundingbox', 'lat', 'lon', 'display_name', 'class', 'type', 'importance', 'icon'])

In [7]:
df = pd.DataFrame(columns = ['id_ville', 'Ville', 'latitude', 'longitude','main_weather', 'expected_rain']) 
# Création d'un DataFrame 
# Avec les informations utiles pour le projets

In [8]:
df.head() # DataFrame vide

Empty DataFrame
Columns: [id_ville, Ville, latitude, longitude, main_weather, expected_rain]
Index: []

In [9]:
for i in range(len(villes)): # Boucle, i prendra la veleur de 0 jusqu'à la taille de la liste villes
    r = requests.get(f'https://nominatim.openstreetmap.org/search?format=json&city=<{[villes[i]]}>') # A chaque itération de vais chercher la ville de la liste villes
    df.loc[i , 'id_ville'] = i # je donne un id à ma ville
    df.loc[i, 'Ville'] = villes[i] # Dans la colonne, je met le nom de la ville
    df.loc[i, 'latitude']= r.json()[0]['lat'] # Dans la colonne latitude, vais vais chercher l'infomation 'lat' de la variable r, qui contient le request de l'API
    df.loc[i, 'longitude'] = r.json()[0]['lon'] # Dans la colonne longitude, vais vais chercher l'infomation 'lon' de la variable r, qui contient le request de l'API

In [10]:
df.shape # On vérifie le shape de notre dataFrame

(33, 6)

In [11]:
df.head()

,id_ville,Ville,latitude,longitude,main_weather,expected_rain
0,0,Mont Saint Michel,48.6355232,-1.5102571,NaN,NaN
1,1,St Malo,48.649518,-2.0260409,NaN,NaN
2,2,Bayeux,49.2764624,-0.7024738,NaN,NaN
3,3,Le Havre,49.4938975,0.1079732,NaN,NaN
4,4,Rouen,49.4404591,1.0939658,NaN,NaN

Grâce à l'API, j'au pu remplir le DateFrame que j'ai créé, avec les données de géolocalisation des villes. Je vais maintenant pouvoir remplir le tableau avec les données métérologiques obtenues également avec une API

# Utilisation API pour récupérer les données métérologiques

Pour utliser l'API qui permet de retrouver la météo : https://openweathermap.org/api/one-call-api

In [12]:
r = requests.get('https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude=current,minutely,hourly,alert&appid=75658c1cce87474bec2f67560874df95'.format(df['latitude'][0],df['longitude'][0]))
# test d'utilisation de l'API
#L'API fonctionne avec la latitude et la longitude

In [13]:
r.json()

{'lat': 48.6355,
 'lon': -1.5103,
 'timezone': 'Europe/Paris',
 'timezone_offset': 7200,
 'daily': [{'dt': 1631534400,
   'sunrise': 1631511606,
   'sunset': 1631557444,
   'moonrise': 1631540460,
   'moonset': 1631569860,
   'moon_phase': 0.25,
   'temp': {'day': 297.45,
    'min': 286.01,
    'max': 298.28,
    'night': 292.53,
    'eve': 295.33,
    'morn': 286.37},
   'feels_like': {'day': 297.08,
    'night': 292.35,
    'eve': 295.07,
    'morn': 285.86},
   'pressure': 1013,
   'humidity': 44,
   'dew_point': 284.43,
   'wind_speed': 5.09,
   'wind_deg': 81,
   'wind_gust': 8.9,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 100,
   'pop': 0.29,
   'uvi': 3.55},
  {'dt': 1631620800,
   'sunrise': 1631598090,
   'sunset': 1631643716,
   'moonrise': 1631631180,
   'moonset': 0,
   'moon_phase': 0.27,
   'temp': {'day': 294.65,
    'min': 289.26,
    'max': 294.86,
    'night': 289.26,
    'eve': 290.42,
    'morn': 291.02},
   'feels_like': {'day': 294.76,
    'night': 289.17,
    'eve': 290.58,
    'morn': 291.29},
   'pressure': 1009,
   'humidity': 73,
   'dew_point': 289.21,
   'wind_speed': 6.27,
   'wind_deg': 108,
   'wind_gust': 13.76,
   'weather': [{'id': 501,
     'main': 'Rain',
     'description': 'moderate rain',
     'icon': '10d'}],
   'clouds': 98,
   'pop': 0.89,
   'rain': 4.97,
   'uvi': 3.97},
  {'dt': 1631707200,
   'sunrise': 1631684573,
   'sunset': 1631729989,
   'moonrise': 1631721240,
   'moonset': 1631659380,
   'moon_phase': 0.31,
   'temp': {'day': 292.23,
    'min': 286.94,
    'max': 292.23,
    'night': 286.94,
    'eve': 288.8,
    'morn': 287.75},
   'feels_like': {'day': 291.92,
    'night': 286.8,
    'eve': 288.64,
    'morn': 287.56},
   'pressure': 1014,
   'humidity': 66,
   'dew_point': 285.42,
   'wind_speed': 5.82,
   'wind_deg': 326,
   'wind_gust': 7.48,
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': 94,
   'pop': 0,
   'uvi': 4.39},
  {'dt': 1631793600,
   'sunrise': 1631771057,
   'sunset': 1631816261,
   'moonrise': 1631810460,
   'moonset': 1631749620,
   'moon_phase': 0.34,
   'temp': {'day': 293.03,
    'min': 285.8,
    'max': 293.03,
    'night': 287.14,
    'eve': 289.9,
    'morn': 287.27},
   'feels_like': {'day': 292.74,
    'night': 286.84,
    'eve': 289.59,
    'morn': 287.14},
   'pressure': 1020,
   'humidity': 64,
   'dew_point': 285.72,
   'wind_speed': 2.52,
   'wind_deg': 312,
   'wind_gust': 2.96,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 87,
   'pop': 0.2,
   'rain': 0.1,
   'uvi': 3.9},
  {'dt': 1631880000,
   'sunrise': 1631857540,
   'sunset': 1631902533,
   'moonrise': 1631899080,
   'moonset': 1631840400,
   'moon_phase': 0.38,
   'temp': {'day': 294.1,
    'min': 284.99,
    'max': 295.84,
    'night': 288.32,
    'eve': 289.79,
    'morn': 284.99},
   'feels_like': {'day': 293.56,
    'night': 288.29,
    'eve': 289.91,
    'morn': 284.61},
   'pressure': 1016,
   'humidity': 50,
   'dew_point': 282.94,
   'wind_speed': 5.01,
   'wind_deg': 307,
   'wind_gust': 7.58,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 41,
   'pop': 0.47,
   'rain': 0.93,
   'uvi': 4.21},
  {'dt': 1631966400,
   'sunrise': 1631944024,
   'sunset': 1631988805,
   'moonrise': 1631987100,
   'moonset': 1631931420,
   'moon_phase': 0.41,
   'temp': {'day': 293.15,
    'min': 284.09,
    'max': 293.15,
    'night': 285.33,
    'eve': 288.33,
    'morn': 284.09},
   'feels_like': {'day': 292.54,
    'night': 284.72,
    'eve': 287.94,
    'morn': 283.67},
   'pressure': 1022,
   'humidity': 51,
   'dew_point': 282.64,
   'wind_speed': 5.11,
   'wind_deg': 318,
   'wind_gust': 8.14,
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': 21,
   'pop': 0,
   'uvi': 5},
  {'dt': 1632049200,
   'sunrise': 1632030508,
   'sunset': 1632075077,
   'moonrise': 1632074820,
   'moonset': 1632022440,
   'moon_phase': 0.45,
   'temp': {'day': 296.51,
    'min': 283.95,
    'max': 298.21,
    'night': 288.92,
    'eve': 292.88,
    'morn': 283.95},
   'feels_like': {'day': 295.87,
    'night': 288.28,
    'eve': 292.21,
    'morn': 283.23},
   'pressure': 1019,
   'humidity': 37,
   'dew_point': 280.94,
   'wind_speed': 2.74,
   'wind_deg': 97,
   'wind_gust': 3.78,
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': 7,
   'pop': 0,
   'uvi': 5},
  {'dt': 1632135600,
   'sunrise': 1632116992,
   'sunset': 1632161348,
   'moonrise': 1632162360,
   'moonset': 1632113280,
   'moon_phase': 0.48,
   'temp': {'day': 293.77,
    'min': 285.78,
    'max': 293.77,
    'night': 285.78,
    'eve': 288.43,
    'morn': 286.33},
   'feels_like': {'day': 293.25,
    'night': 285.45,
    'eve': 288.18,
    'morn': 286.05},
   'pressure': 1018,
   'humidity': 52,
   'dew_point': 283.26,
   'wind_speed': 4.49,
   'wind_deg': 236,
   'wind_gust': 7.14,
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': 95,
   'pop': 0.57,
   'rain': 0.8,
   'uvi': 5}],
 'alerts': [{'sender_name': 'METEO-FRANCE',
   'event': 'Moderate thunderstorm warning',
   'start': 1631505600,
   'end': 1631592000,
   'description': 'Although rather usual in this region, locally or potentially dangerous phenomena are expected. (such as local winds, summer thunderstorms, rising streams or high waves)',
   'tags': ['Thunderstorm']}]}

**Tests**  
Plusieurs test sont réalisés pour comprendre comment récupérer l'information

In [14]:
r.json()['daily'][1].keys()

dict_keys(['dt', 'sunrise', 'sunset', 'moonrise', 'moonset', 'moon_phase', 'temp', 'feels_like', 'pressure', 'humidity', 'dew_point', 'wind_speed', 'wind_deg', 'wind_gust', 'weather', 'clouds', 'pop', 'rain', 'uvi'])

In [15]:
type(r.json()['daily'])

list

In [16]:
type(r.json()['daily'][0])

dict

In [17]:
for i in range(len(villes)):  # Boucle, i prendra la veleur de 0 jusqu'à la taille de la liste villes
    r =  requests.get('https://api.openweathermap.org/data/2.5/onecall?lat={}&lon={}&exclude=current,minutely,hourly,alert&appid=75658c1cce87474bec2f67560874df95'.format(df['latitude'][i],df['longitude'][i]))
    r = r.json()
    
    expected_rain = 0 # On fixe la variable expected_rain à 0, à chaque itération sa valeur sera 0.
    for d in r['daily']: #Boucle for qui va itérer dans la clef 'daily'
        if 'rain' in d.keys(): # Si daily contient la clef 'rain' 
            expected_rain += d['pop'] + d['rain'] # addition du taux propable de précipitation et du volume de précipitation 
            
    weathers = pd.Series([d['weather'][0]['main'] for d in r['daily']]) #Création d'une Serie 
    # Boucle for qui va itérer dans la clef 'daily'
    # je récupère l'onformation de la clef 'weather', position 0 de la liste puis dans la clefs'main'
    main_weather = weathers.mode()[0] # On récupère le mode 
    
    df.loc[i,'main_weather'] = main_weather # Les résultats sont ajoutés au DataFrame
    df.loc[i,'expected_rain'] = expected_rain # Les résultats sont ajoutés au DataFrame

In [18]:
df.head()

,id_ville,Ville,latitude,longitude,main_weather,expected_rain
0,0,Mont Saint Michel,48.6355232,-1.5102571,Rain,5.3364
1,1,St Malo,48.649518,-2.0260409,Clouds,9.3711
2,2,Bayeux,49.2764624,-0.7024738,Clouds,9.1872
3,3,Le Havre,49.4938975,0.1079732,Clouds,7.58
4,4,Rouen,49.4404591,1.0939658,Clouds,6.43

In [19]:
df = df.sort_values(by=['expected_rain'], ascending=True)
display(df)

,id_ville,Ville,latitude,longitude,main_weather,expected_rain
7,7,Lille,50.6365654,3.0635282,Clouds,3.687
5,5,Paris,48.8566969,2.3514616,Clear,3.7847
6,6,Amiens,49.8941708,2.2956951,Clouds,4.5048
0,0,Mont Saint Michel,48.6355232,-1.5102571,Rain,5.3364
4,4,Rouen,49.4404591,1.0939658,Clouds,6.43
32,32,La Rochelle,46.1591126,-1.1520434,Rain,6.6393
3,3,Le Havre,49.4938975,0.1079732,Clouds,7.58
26,26,Collioure,42.52505,3.0831554,Clouds,8.4983
2,2,Bayeux,49.2764624,-0.7024738,Clouds,9.1872
1,1,St Malo,48.649518,-2.0260409,Clouds,9.3711
31,31,Bayonne,43.4933379,-1.475099,Rain,9.5022
30,30,Biarritz,43.4832523,-1.5592776,Rain,9.8232
17,17,Bormes les Mimosas,43.1506968,6.3419285,Rain,14.0538
8,8,Strasbourg,48.584614,7.7507127,Clear,15.5088
28,28,Toulouse,43.6044622,1.4442469,Rain,15.6336
13,13,Dijon,47.3215806,5.0414701,Clouds,16.5061
18,18,Cassis,43.2140359,5.5396318,Rain,16.6805
19,19,Marseille,43.2961743,5.3699525,Rain,16.8942
9,9,Chateau du Haut Koenigsbourg,48.2495226,7.3454923,Clear,17.29
27,27,Carcassonne,43.2130358,2.3491069,Rain,17.7101
11,11,Eguisheim,48.0447968,7.3079618,Clear,18.3267
15,15,Grenoble,45.1875602,5.7357819,Rain,19.4643
20,20,Aix en Provence,43.5298424,5.4474738,Rain,20.5063
10,10,Colmar,48.0777517,7.3579641,Clouds,21.075
29,29,Montauban,44.0175835,1.3549991,Clouds,21.692
25,25,Saintes Maries de la mer,43.4522771,4.4287172,Rain,22.2587
12,12,Besancon,47.2380222,6.0243622,Rain,23.5721
21,21,Avignon,43.9492493,4.8059012,Clouds,23.9822
14,14,Annecy,45.8992348,6.1288847,Rain,27.1123
24,24,Aigues Mortes,43.5658225,4.1912837,Rain,33.99
23,23,Nimes,43.8374249,4.3600687,Rain,35.5088
22,22,Uzes,44.0121279,4.4196718,Rain,36.8848
16,16,Lyon,45.7578137,4.8320114,Clear,39.581

In [20]:
df = df.astype({'id_ville': int,
                'latitude': float,
                'longitude': float,
                'expected_rain': float}) 
# Je redéfini le type des variables

In [21]:
fig = px.scatter_mapbox(df.head(), lat="latitude", lon="longitude", zoom = 4,
                        hover_data = ['main_weather', 'expected_rain'], 
                        color_continuous_scale = 'Bluered',
                        mapbox_style="carto-positron")

fig.show('iframe') 

# Affichage des 5 villes les mieux classées en fonction du taux de précipitation

In [22]:
df.to_csv('destinations.csv', index=False) # Enregistrement du DataFrame qui regroupe l'ensemble des villes, leur position et la météo

## Concluion 1  

Dans cette première partie, l'objectif etait d'obtenir des données par l'utilisation d'API.  
Je recherchais 2 informations (géolocalisation et la météo avec le taux de précipitation).  

**Difficultés**  
    * Comprendre comment fonctionne l'API.  
    * Aller chercher l'information dans des listes puis des dictionaires puis des listes......
  
**Prochaine étape**  
Nous avons obtenu un  DataFrame contenant les villes, leur géolocalisation et la météo. Maintenant l'objectif est de rechercher des hôtels pour les 5 premières villes.  
Pour cela, nous allons récupérer la donner par la méthode de scrapping.