![Kayak](https://seekvectorlogo.com/wp-content/uploads/2018/01/kayak-vector-logo.png)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# On récupère les données du DataLake

cities = pd.read_csv('https://m03-jedha-project-040121.s3.amazonaws.com/cities.csv') 
hotels = pd.read_csv('https://m03-jedha-project-040121.s3.amazonaws.com/hotels.csv')

In [ ]:
cities.head()

In [ ]:
hotels.head()

In [ ]:
# Remplace HOSTNAME par AWS RDS Endpoint, USERNAME et PASSWORD par tes références
engine = create_engine("postgresql+psycopg2://USERNAME:PASSWORD@HOSTNAME/postgres", echo=True)

Engine est le point de départ de toute l'application SQLAlchemy. C'est la "base d'acceuil" de la base de données réelle et de son DBAPI

In [ ]:
cities.to_sql("cities", engine)
hotels.to_sql("hotels", engine)

In [ ]:
# Requête SQL, qui va permettre de combiner les deux datasets cities et hotels. 


statement = "SELECT Ville, main_weather, description, score, url \
             FROM cities \
             INNER JOIN hotels \
             ON cities.id_ville = hotels.city_id \
             ORDER BY score DESC \
             LIMIT 30"

best_places = pd.read_sql(statement, engine)

In [ ]:
best_places